@page "/"

<PageTitle>PDF Merger</PageTitle>

<h1>Welcome to PDF Merger</h1>

<p class="lead">Merge multiple PDF files into a single document quickly and easily.</p>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">How it works</h5>
                <ol>
                    <li>Upload multiple PDF files</li>
                    <li>Arrange them in your desired order</li>
                    <li>Click "Merge PDFs"</li>
                    <li>Download your merged document</li>
                </ol>
                <a href="/upload" class="btn btn-primary">Start Merging PDFs</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Features</h5>
                <ul>
                    <li>Merge up to 10 PDF files</li>
                    <li>Drag and drop file reordering</li>
                    <li>Real-time progress tracking</li>
                    <li>File validation</li>
                    <li>Secure client-side processing</li>
                </ul>
            </div>
        </div>
    </div>
</div>
